{% extends "base.html" %}
{% load static %}

{% block extra_title %}
    Home
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %} 

{% block content %}
    <!-- Hero Section -->
    <section class="container-fluid px-0">
        <div class="hero-container img-fluid">
            <div class="row h-100 mx-0">
                <div class="col text-center text-lg-right mt-5">
                    <h1 class="hero-heading text-center">The taste of <span class="cream">Fresh</span> on your table!</h1>
                </div>
                <div class="text-center">
                <h2>
                    <a href="{% url 'products' %}" class="shop-now-btn btn btn-lg btn-green mt-5">Order Now</a>
                </h2>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories -->
    <section class="container-fluid px-5">
        <div class="row">
            <div class="col-12 text-center my-3">
                <h2 class="green">Categories</h2>
            </div>
        </div>
        <div class="row pb-3 ml-4 mr-4 justify-content-around">
            {% for c in category_list %}
                <div class="categories col-12 col-md-5 text-center pb-3 mb-3">
                    {% if c.image %}
                        <a href="{% url 'products' %}?category={{ c.name }}">
                            <img class="category-image" src="{{ c.image.url }}" alt="{{ c.name }}" class="img-responsive" height="140">
                            <h5 class="pt-3 mb-0 pb-0 green">
                                {{ c.friendly_name }}
                            </h5>
                        </a>
                    {% else %}
                        <a href="{% url 'products' %}?category={{ c.name }}">
                            <img src="{{ MEDIA_URL }}noimage.png" alt="{{ c.name }}" class="img-responsive" height="130">
                            <h5 class="pt-3 mb-0 pb-0 green">
                                {{ c.friendly_name }}
                            </h5>
                        </a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </section>
    <div class="btt-button border-green green bg-cream">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up mx-auto my-auto"></i>
        </a>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
        $('.btt-link').click(function(e) {
            window.scrollTo(0,0);
        });
    </script>
{% endblock %}