{% extends "base.html" %}
{% load static %}

{% block extra_title %}
About Us
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<section class="page-section" id="aboutSection">
    <div class="container about-container">
        <div class="row">
            <div class="col-md-6 mb-4 mb-lg-6 about-image">
                <img src="{{ MEDIA_URL}}kitchen-staff-min.png" alt="Man in the kitchen">
            </div>
            <div class="col-md-6 mb-4 mb-lg-6 facility-info align-self-center">
                <h2 class="text-light">About Us</h2>
                <p class="text-light"></p>
                We are on a mission to help people see, understand and consume food in a
                totally new way. We want people to eat our food and feel amazing afterwards,
                and we want them to be surprised by how delicious healthy food can be. Everything we
                serve is made by us; we know where all our ingredients come from and we know how to
                cook them to get the most out of them, both in terms of flavour and nutrients. We hope that
                our food inspires people to eat healthier for good,
                to make better choices and to be conscious of where their food comes from.
            </div>
        </div>
        <div class="row d-flex flex-column-reverse flex-md-row">
            <div class="col-md-6 mb-4 mb-lg-6 about-info p-2 align-self-center">
                <h2 class="text-light"> Our restaurant</h2>
                <p class="text-light">A collaboration between chef Stef Gouts and interior designer Villy Tzali our
                    urban styled
                    restaurant is located in HighStreet Putney. Open seven days a week for lunch and dinner as well as
                    buzzing weekend brunches.
                    I mean, just look at the plush furnishings, elegant bar, and tropical plants,
                    artfully festooned around the place.
                    In a stylish urban setting here enjoy a delicious meal and in a unique ambience</p>

                <h4 class="p-1">Find Us</h4>
                <p>124 Upper Richmond Road, Putney, London, SW152PT</p>
                <iframe
                    src="https://maps.google.com/maps?q=143%20Upper%20Richmond%20road&t=&z=13&ie=UTF8&iwloc=&output=embed"
                    style="border:0;" allowfullscreen="" aria-hidden="false" class=""
                    title="Google map showing the location of ThermalSpa" tabindex="0">
                </iframe>
            </div>
            <div class="col-md-6 mb-4 mb-lg-6 about-image p-2">
                <img src="{{ MEDIA_URL}}restaurant-image-min.jpg" alt="Tables in a restaurant.">
            </div>
        </div>
    </div>
    <div class='container-fluid'>
        <div class="row">
            <div class="col-12 text-center">
                <h4>Contact Us</h4>
                <a href="0789456732" class="contact-link">
                    <i class="fas fa-phone" aria-hidden="true"></i>
                    0789456732 </a>
                <div class="col-12 text-center">
                    <a href="mailto:freshNow.gmail.com" class="contact-link">
                        <i class="far fa-envelope" aria-hidden="true"></i>
                        freshNow.gmail.com
                    </a>
                    <div class="container-fluid">
                        <div class="row justify-content-center">
                            <div class="col-sm-12 mt-4 col-md-6 col-lg-3 ">
                                <div class="timetable">
                                    <h4 class="footer-headings text-center p-2">Opening Hours</h4>
                                </div>
                                <table class="table table-light table-borderless" id="table">
                                    <tbody>
                                        <tr>
                                            <td>Weekends</td>
                                            <td>9:00-18:00</td>
                                        </tr>
                                        <tr>
                                            <td>Saturday</td>
                                            <td>9:00-20:00</td>
                                        </tr>
                                        <tr>
                                            <td>Sunday</td>
                                            <td>9:00-19:00</td>
                                        </tr>
                                        <tr>
                                            <td>Holidays</td>
                                            <td>10:00-17:00</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </div>
</section>
{% endblock %}