{% extends "base.html" %}
{% load static %}

{% block extra_title %}
    About Us
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<section id="restaurants-main text-light">
  
    <div class="all-pages-main-right">
        <div class="left-photo">
            <img src="/media/kitchen-staff.avif" alt="">
        </div>
        <div class="right-info">
            <h2>'Ohana <i class="fa-solid fa-star" id="star"></i></h2>
            <p class="right-info-paragraph"><i class="fa-solid fa-location-dot"></i> <a href="https://www.disneyworld.co.uk/resorts/map/#/id=polynesian-resort/" target="_blank">Disney's Polynesian Village Resort</a></p>
            <p class="right-info-paragraph"><i class="fa-solid fa-utensils"></i> <span>Polynesian, American, Family Style, Unique/Themed Dining</span></p>
            <p><i class="fa-solid fa-money-bill"></i> $$ - $$$</p>
            <p class="right-info-paragraph"><i class="fa-solid fa-circle-info"></i> <span>One of Disney’s most iconic restaurants. This tropical hideaway is truly a must see! If you only have time for one restaurant reservation, this should be the one. Available for breakfast and dinner all you can eat. Great viewing point for the Disney Fireworks Spectacular at Magic Kingdom. The ‘Ohana Bread Pudding is highly recommended!</span></p>
            <div class="restaurant-info-buttons">
                
            </div>
        </div>
        </div>
    
    <!--Be Our Guest-->
    <div class="all-pages-main-left">
        <div class="left-info">
            <h2>Be Our Guest</h2>
            <p class="right-info-paragraph"><i class="fa-solid fa-location-dot"></i> <a href="https://www.disneyworld.co.uk/dining/map/#/id=be-our-guest-restaurant/" target="_blank">Fantasyland, Magic Kingdom Park</a></p>
            <p class="right-info-paragraph"><i class="fa-solid fa-utensils"></i>American, French, Unique/Themed Dining</p>
            <p><i class="fa-solid fa-money-bill"></i> $$$$</p>
            <p class="right-info-paragraph"><i class="fa-solid fa-circle-info"></i> <span>Enter the Beast’s enchanted castle for an unforgettable dining experience! Available for lunch and dinner with a three-course French inspired menu. Reservations highly recommended. Try the Grey Stuff, it’s delicious.</span></p>
           
        </div>
        <div class="right-photo">
            <img src="" alt="Internal picture of Be Our Guest Restaurant Disney World. Grand dining hall with tables and chairs.">
        </div>
    </div>

</section>
    
{% endblock %}