{% extends "base.html" %}
{% load static %}

{% block extra_title %}
    Home
{% endblock %}

{% block content %}

<section id="restaurants-main">
    <!--Ohana-->
    <div class="all-pages-main-right">
        <div class="left-photo">
            <img src="assets/images/ohana.webp" alt="Internal picture of Ohana Restaurant Disney World. Polynesian inspired wooden tiki statues">
        </div>
        <div class="right-info">
            <h2>'Ohana <i class="fa-solid fa-star" id="star"></i></h2>
            <p class="right-info-paragraph"><i class="fa-solid fa-location-dot"></i> <a href="https://www.disneyworld.co.uk/resorts/map/#/id=polynesian-resort/" target="_blank">Disney's Polynesian Village Resort</a></p>
            <p class="right-info-paragraph"><i class="fa-solid fa-utensils"></i> <span>Polynesian, American, Family Style, Unique/Themed Dining</span></p>
            <p><i class="fa-solid fa-money-bill"></i> $$ - $$$</p>
            <p class="right-info-paragraph"><i class="fa-solid fa-circle-info"></i> <span>One of Disney’s most iconic restaurants. This tropical hideaway is truly a must see! If you only have time for one restaurant reservation, this should be the one. Available for breakfast and dinner all you can eat. Great viewing point for the Disney Fireworks Spectacular at Magic Kingdom. The ‘Ohana Bread Pudding is highly recommended!</span></p>
            <div class="restaurant-info-buttons">
                <form action="https://www.disneyworld.co.uk/dining/polynesian-resort/ohana/menus/" target="_blank">
                    <input type="submit" value="View Menu">
                </form>
                <form action="https://mousewatcher.com/restaurants/polynesian-resort-ohana?gclid=Cj0KCQjwspKUBhCvARIsAB2IYutE1F1cICu4lPleN7X2wSa4NI8ORluCABUNQsmxmzuiFGH-PXyvGLQaAjyMEALw_wcB" target="_blank">
                    <input type="submit" value="Book Table">
                </form>
            </div>
        </div>
    </div>
    <!--Be Our Guest-->
    <div class="all-pages-main-left">
        <div class="left-info">
            <h2>Be Our Guest</h2>
            <p class="right-info-paragraph"><i class="fa-solid fa-location-dot"></i> <a href="https://www.disneyworld.co.uk/dining/map/#/id=be-our-guest-restaurant/" target="_blank">Fantasyland, Magic Kingdom Park</a></p>
            <p class="right-info-paragraph"><i class="fa-solid fa-utensils"></i>American, French, Unique/Themed Dining</p>
            <p><i class="fa-solid fa-money-bill"></i> $$$$</p>
            <p class="right-info-paragraph"><i class="fa-solid fa-circle-info"></i> <span>Enter the Beast’s enchanted castle for an unforgettable dining experience! Available for lunch and dinner with a three-course French inspired menu. Reservations highly recommended. Try the Grey Stuff, it’s delicious.</span></p>
            <div class="restaurant-info-buttons">
                <form action="https://www.disneyworld.co.uk/dining/magic-kingdom/be-our-guest-restaurant/menus/" target="_blank">
                    <input type="submit" value="View Menu">
                </form>
                <form action="https://mousewatcher.com/restaurants/magic-kingdom-be-our-guest-restaurant?gclid=Cj0KCQjwspKUBhCvARIsAB2IYuuhMIAVMNDQ9rAfhZqgTSRaLjMb7paW6Wl6L1A3jQwvF2yVRNBKUWYaAnpVEALw_wcB" target="_blank">
                    <input type="submit" value="Book Table">
                </form>
            </div>
        </div>
        <div class="right-photo">
            <img src="assets/images/be-our-guest-restaurant.webp" alt="Internal picture of Be Our Guest Restaurant Disney World. Grand dining hall with tables and chairs.">
        </div>
    </div>
    <!--Space220-->
    <div class="all-pages-main-right">
        <div class="left-photo">
            <img src="assets/images/space220.webp" alt="Internal picture of Space220 Restaurant Disney World. Circular walls with large windows simulating outer space">
        </div>
        <div class="right-info">
            <h2>Space220</h2>
            <p><i class="fa-solid fa-location-dot"></i> <a href="https://www.disneyworld.co.uk/dining/map/#/id=space-220/" target="_blank">World Discovery, EPCOT</a></p>
            <p><i class="fa-solid fa-utensils"></i> Unique/Themed Dining</p>
            <p><i class="fa-solid fa-money-bill"></i> $$$ - $$$$</p>
            <p class="right-info-paragraph"><i class="fa-solid fa-circle-info"></i> <span>Dine among the stars at Disney’s latest out of this world restaurant! Two or three course meals available for lunch and dinner. Unique space themed dishes combine with the awe-inspiring celestial panorama to create a truly one of a kind experience.</span></p>
            <div class="restaurant-info-buttons">
                <form action="https://www.disneyworld.co.uk/dining/epcot/space-220/menus/" target="_blank">
                    <input type="submit" value="View Menu">
                </form>
                <form action="https://mousewatcher.com/restaurants/epcot-space-220?gclid=Cj0KCQjwspKUBhCvARIsAB2IYuuvHw53V7EKCNApsZWLFBhn2smmdrDigHbka9mSZ-p2SZ1vsr6bOBIaApSgEALw_wcB" target="_blank">
                    <input type="submit" value="Book Table">
                </form>
            </div>
        </div>
    </div>
    <!--The Hollywood Brown Derby-->
    <div class="all-pages-main-left">
        <div class="left-info">
            <h2>The Hollywood Brown Derby</h2>
            <p class="right-info-paragraph"><i class="fa-solid fa-location-dot"></i> <a href="https://www.disneyworld.co.uk/dining/map/#/id=hollywood-brown-derby/" target="_blank">Hollywood Boulevard, Disney's Hollywood Studios</a></p>
            <p class="right-info-paragraph"><i class="fa-solid fa-utensils"></i> American, Fine/Signature Dining</p>
            <p><i class="fa-solid fa-money-bill"></i> $$$</p>
            <p class="right-info-paragraph"><i class="fa-solid fa-circle-info"></i> <span>Step into the Golden Age of Hollywood at this authentic replica of the famous Brown Derby, a Tinsletown landmark steeped in glamour and glitz. Contemporary American cuisine with signature dishes and classic cocktails. Available for lunch and dinner. The Cobb Salad is a must try.</span></p>
            <div class="restaurant-info-buttons">
                <form action="https://www.disneyworld.co.uk/dining/hollywood-studios/hollywood-brown-derby/menus/" target="_blank">
                    <input type="submit" value="View Menu">
                </form>
                <form action="https://mousewatcher.com/restaurants/hollywood-studios-hollywood-brown-derby" target="_blank">
                    <input type="submit" value="Book Table">
                </form>
            </div>
        </div>
        <div class="right-photo">
            <img src="assets/images/hollywood-brown-derby.webp" alt="Internal picture of Be Our Guest Restaurant Disney World. Grand dining hall with tables and chairs.">
        </div>
    </div>
    <!--California Grill-->
    <div class="all-pages-main-right">
        <div class="left-photo">
            <img src="assets/images/california-grill.webp" alt="Internal picture of California Grill Restaurant Disney World. Low hanging lights, large full length windows overlooking Disney World">
        </div>
        <div class="right-info">
            <h2>California Grill</h2>
            <p class="right-info-paragraph"><i class="fa-solid fa-location-dot"></i> <a href="https://www.disneyworld.co.uk/dining/map/#/id=california-grill/" target="_blank">Disney's Contemporary Resort</a></p>
            <p class="right-info-paragraph"><i class="fa-solid fa-utensils"></i> American, Seafood, Sushi, Fine/Signature Dining</p>
            <p><i class="fa-solid fa-money-bill"></i> $$$$</p>
            <p class="right-info-paragraph"><i class="fa-solid fa-circle-info"></i> <span>A guest favourite. Savor the finest in Californian cooking as you take in the sights of Seven Seas Lagoon and Magic Kingdom Park. California Grill offers one of the best firework dining experiences at Disney World. Available for dinner with a special limited time 50th Anniversary three course celebration menu.</span></p>
            <div class="restaurant-info-buttons">
                <form action="https://www.disneyworld.co.uk/dining/contemporary-resort/california-grill/menus/" target="_blank">
                    <input type="submit" value="View Menu">
                </form>
                <form action="https://mousewatcher.com/restaurants/contemporary-resort-california-grill" target="_blank">
                    <input type="submit" value="Book Table">
                </form>
            </div>
        </div>
    </div>




{% endblock %}