{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4 text-center"> Your meal is one step closer to you   {{ order.full_name }}</h2>
                <hr>
                <p class="text-center">Your order has been placed and a confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
            </div>
        </div>


        <div class="container">
        <div class = "row justify-content-center">
        <table class="table table-striped table-sm text-light text-center">
            <thead>
                <tr>
                  <th class="th-sm"></th>
                  <th class="th-sm"></th>
                
                </tr>
              </thead>
           
            <tbody>
              <tr class="table-light">
                <td class="td-sm">Order Number</td>
                <td>{{ order.order_number }}</td>
              </tr>
              <tr class="table-light">
                <td class="">Order Date</td>
                <td>{{ order.date }}</td>
              </tr>
              {% for item in order.lineitems.all %}
              <tr class="table-light">
                <td class="">{{ item.product.name }}{% if item.product_size %} - Size {{ item.product.size|upper }}{% endif %}
                </td>
                <td> {{ item.quantity }} meal|  £ {{ item.product.price }} each</td>
              </tr>
           
            {% endfor %}
            <tr class="table-light">
                <td class="">Full Name</td>
                <td>{{ order.full_name }}</td>
              </tr>
            <tr class="table-light">
                <td class="">Address</td>
                <td>{{ order.street_address1 }}</td>
            </tr>
            {% if order.street_address2 %}
            <tr class="table-light">
                <td class="">Address</td>
                <td>{{ order.street_address1 }}</td>
            </tr>
            {% endif %}
            {% if order.county %}
            <tr class="table-light">
                <td class="">County</td>
                <td>{{ order.county }}</td>
            </tr>
            {% endif %}
            <tr class="table-light">
                <td class="">Town or City</td>
                <td>{{ order.town_or_city }}</td>
            </tr>
            {% if order.postcode %}
            <tr class="table-light">
                <td class="">Postcode</td>
                <td>{{ order.postcode }}</td>
            </tr>
            {% endif %}
            <tr class="table-light">
                <td class="">Town or City</td>
                <td>{{ order.town_or_city }}</td>
            </tr>
            <tr class="table-light">
                <td class="">Phone Number</td>
                <td>{{ order.phone_number  }}</td>
            </tr>
            <tr class="table-light">
                <td class="">Order Total</td>
                <td> £ {{ order.order_total }}</td>
            </tr>
            <tr class="table-light">
                <td class="">Deliveery Cost</td>
                <td> £  {{ order.delivery_cost }}</td>
            </tr>
            <tr class="table-light">
                <td class="">Grand Total</td>  
                <td> £ {{ order.grand_total }}</td>
            </tr>
            
            </tbody>
          </table>
        </div>    
    </div>
</div>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-7 text-center">
                {% if from_profile %}
                    <a href="{% url 'profile' %}" class="btn btn-order">
                        <span class="icon mr-2">
                            <i class="fas fa-angle-left"></i>
                        </span>
                        <span class="text-uppercase">Back to Profile</span>
                    </a>
                {% else %}
                    <a href="{% url 'products' %}" class="btn order-button mb-3">
                        <span class="icon mr-2">
                            <i class="fas fa-gifts"></i>
                        </span>
                        <span class="text-uppercase">Now check out the latest deals!</span>
                    </a>
                {% endif %}
			</div>
		</div>
   
{% endblock %}