html {
    height: 100%;
    scroll-behavior: smooth;
}

.hero-container {
	background: url('/media/background-image.avif') no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 70vh;
  margin-top: 0;
}
.navbar{
    background-color: #BCDDA6;
    font-size: 20px;
    align-items: center;
   
}

#nav ul {
    display: inline-block;
    list-style-type: none;
    }

.logo{
    margin-top: -20px;
    margin-bottom: -30px;
    width: 25%;
    height: auto;
    
}


/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.category-image{
    width: auto;
    height: 50%;
    
}

.update-link,
.remove-item {
    cursor: pointer;
}
.remove-item {
    cursor: pointer;
}


@media (min-width: 1281px) {
    
    .hero-heading,
    .header-container {
        margin-top: 8rem;
        
    }
}