<div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-black  ml-4 mr-lg-5" href="" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link ml-4 mr-lg-5" href="#" id="meals-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Meals
            </a>
            <div class="dropdown-menu bg-cream" aria-labelledby="allmeal-link">
                <a href="{% url 'products'%}" class="dropdown-item ml-4 ml-lg-0 green site-font">All Meals</a>
                
                    <a href= "{% url 'products' %}?category=salads" class="dropdown-item ml-4 ml-lg-0 green site-font"></a>

                    <a href= "{% url 'products' %}?category=pasta" class="dropdown-item ml-4 ml-lg-0 green site-font"></a>
                
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link ml-4 mr-lg-5" href="" id="aboutUs-link">
                About Us
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link ml-4 mr-lg-5" href="" id="contact-link">
                Contact
            </a>
        </li>
    </ul>
</div>