
      <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-light  ml-4 mr-lg-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Meals
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
               <li><a href="{% url 'products'%}" class="dropdown-item ml-4 ml-lg-0 green site-font">All Meals</a>
                </li>
               <li><a href= "{% url 'products' %}?category=salads" class="dropdown-item ml-4 ml-lg-0 green site-font">Salads</a>
                </li>
                <li><a href= "{% url 'products' %}?category=pasta" class="dropdown-item ml-4 ml-lg-0 green site-font">Pasta</a>
              </li>
              <li><a href= "{% url 'products' %}?category=fresh_smoothies" class="dropdown-item ml-4 ml-lg-0 green site-font">Smoothies</a>
              </li>
              <li><a href= "{% url 'products' %}?category=fresh_soups" class="dropdown-item ml-4 ml-lg-0 green site-font">Soups</a>
              </li>
            </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light  ml-4 mr-lg-5" href="{% url 'aboutUs'%}">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light ml-4 mr-lg-5" href="" id="contact-link">
                    Contact
                </a>
            </li> 
</ul>
</div>
 




